/.~lock.hygdata_v3.csv#
/Adventure Ideas.desktop
/HR - Characters.desktop
/HR - Other.desktop
/NPC Crew.desktop
/StarBright.ods
/StarBright.pdf
/StarBright.svg
/StarBright.xlsx
/Vargr.desktop
/extras/